* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 222, 227);
}

header {
    color: rgb(193, 5, 96);
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 26px;
    gap: 30px;
    padding: 0;
}

header a {
    text-decoration: none;
    color: rgb(233, 27, 126);
}

header a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

article {
    background-color: white;
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 25px;
    color: rgb(83, 83, 83);
}

h2 {
    font-size: 32px;
    color: rgb(233, 27, 126);
    text-align: center;
}

aside {
    color: rgb(233, 27, 126);
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

aside a {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
    color: white;
}

footer {
    background-color: rgb(233, 27, 126);
    color: white;
    text-align: center;
}